<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul class="nav navbar-nav pull-xs-right" show-authed="false">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.login">
          Sign in 
        </a>
      </li>

    </ul>
      
      <!-- Show this for logged in users -->  
    <ul show-authed="true" class="nav navbar-nav pull-xs-right" >

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article1">
          Basic
        </a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article2">
          String
        </a>
      </li>    
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article3">
          Conditionals
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article4">
          Functions
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article5">
          Lists
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article6">
          Loops
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article7">
          Advanced
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article8">
          Classes
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article9">
          File IO
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article10">
          Webscraping
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article11">
          Data Science
        </a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.article12">
          Networking
        </a>
      </li>
        
    <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home"
          ng-click="$ctrl.logout()">
          Logout
        </a>
      </li>    

    </ul>  


  </div>
</nav>
